bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild[Ll]og.*
packages/
*.nupkg
*.cache
TestResults/
*.DotSettings.user
.ionide/
dist/
_release_out/
src/CaveAiProForWindows/Obfuscar.xml
